

.root{
    -fx-font-size: 20px;
    -fx-background-color: #F0F8FF;
    -fx-font-family: "Helvetica";
}

.Title{
    -fx-font-size: 45px;
}

.Label{
    -fx-font-size: 30px;
}

.mainpane{
    -fx-border-insets: 10;
    -fx-border-color: black;
}

.buttonsdays{
    -fx-font-size: 17px;
}

.mainbuttons{
    -fx-font-size: 30px;
}

.mainbuttons:hover {
	cursor: pointer;
}

